@import "../utils/mixin.scss";
@import "../utils/colors.scss";


.acceuil {
         text-align: center;
     & h2 {
         margin-top: 2rem;
         font-size: 30px;
         }

     & p {
         font-size: 20px;
         }
     & .btn {
        @include dsgn_btn;                                                                                                                                                                                                                                                                             
         }
       }