@import "../utils/mixin.scss";
@import "../utils/colors.scss";


.acceuil {
         text-align: center;
     & h2 {
         margin-top: 2rem;
         font-size: 30px;
         }

     & p {
         font-size: 20px;
         }
     & .btn {
         @include dsgn_btn; 
         height: 25px;
         display: flex;
         align-items: center;
         margin-left: 70px;
         justify-content: center;                                                                                                                                                                                                                                                                            
         }
       }