@import "../utils/mixin.scss";
@import "../utils/colors.scss";


.acceuil {
         background-color: $lightgrey ;
         text-align: center;
     & h2 {
         margin-top: 2rem;
         font-size: 30px;
         }

     & p {
         font-size: 20px;
         }
     & .btn {
         @include dsgn_btn; 
         margin-left: 55px;
         margin-right: 55px;
         font-size: 17px;     
         font-weight: 400;
     @media all and (min-width: 768px) and (max-width: 1440px) {
         margin-left: 33%;
         margin-right: 33%; 
        }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
       }
      }