@import "../utils/colors.scss";

.loader {
      $animation-count: 4;
      position: fixed;
      display: flex;
      align-items: center;
      background-color: $white;
      height: 100vh;
      inset: 0;
      z-index: 2;
      opacity: 0.9;
      animation: loader 5s;
      animation-fill-mode: forwards;
      transform-origin: top;
      &::after {
      content: "";
      margin-inline: auto;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border-right: 5px solid transparent;
      border-top: 5px solid $color_primaire;
      animation: spin 900ms ease-in-out;
      animation-iteration-count: $animation-count;

      }
}

header {
      font-family: "Shrikhand", "cursive";
      text-align: center;
      position: relative;
      margin: 0;
      box-shadow: inset 0px 5px 5px 0px #dddddd;
     }