.paris_belleville {
     display: flex;
     justify-content: center;
     text-align: center;
     align-items: center;
     background-color: #f3f3f3;
     padding: 0.5rem;
     @include shadow_acceuil;
    & i {
     font-size: 25px;
     margin-right: 25px;
     }
   }