@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container_menus {
  background-color: #f6f6f6;
  margin-bottom: 70px;
}
.container_menus h2 {
  box-sizing: border-box;
  padding: 50px 0 0 20px;
}
.container_menus .menus {
  display: grid;
  gap: 1.5rem;
  padding: 0 15px;
  background-color: #fff;
  /*---logo_nouveau---*/
  /*---image_box_repas---*/
  /*---texte_repas---*/
}
.container_menus .menus .repas {
  height: 330px;
  border-radius: 20px;
  box-shadow: 2px 1px 8px -3px black;
}
.container_menus .menus .logo_news {
  position: relative;
}
.container_menus .menus .logo_news::before {
  content: "Nouveau";
  position: absolute;
  height: 30px;
  width: 5rem;
  background-color: #99E2D0;
  color: #278870;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  top: 15px;
  font-size: 16px;
}
.container_menus .menus .img_1 {
  background-image: url(../../pictures/menu_1.jpg);
  height: 250px;
  border-radius: 20px 20px 0px 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container_menus .menus .img_2 {
  background-image: url(../../pictures/menu_2.jpg);
  height: 250px;
  border-radius: 20px 20px 0px 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container_menus .menus .img_3 {
  background-image: url(../../pictures/menu_3.jpg);
  height: 250px;
  border-radius: 20px 20px 0px 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container_menus .menus .img_4 {
  background-image: url(../../pictures/menu_4.jpg);
  height: 250px;
  border-radius: 20px 20px 0px 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container_menus .menus .txt_rps {
  padding: 0 10px;
  position: relative;
}
.container_menus .menus .txt_rps::before {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  right: 20px;
  top: 5px;
  font-size: 25px;
  background-clip: text;
  -webkit-background-clip: text;
  color: inherit;
  opacity: 1;
  font-weight: 400;
  transition: all 200ms ease-in-out;
}
.container_menus .menus .txt_rps::after {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  right: 20px;
  top: 5px;
  font-size: 25px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  font-weight: 900;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
}
.container_menus .menus .txt_rps:hover::after {
  opacity: 1;
  transform: scale(1.2);
}
.container_menus .menus .txt_rps h3 {
  margin: 20px 0px -10px 0px;
  font-weight: bold;
}

.filtres {
  counter-reset: "filtres";
}
.filtres ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.filtres li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  border-radius: 15px;
  box-shadow: 2px 1px 8px -3px black;
}
.filtres li::before {
  content: counter(filtres);
  counter-increment: "filtres";
  color: #fff;
  background-color: #9356DC;
  border-radius: 50px;
  display: grid;
  place-items: center;
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: -0.5rem;
}
.filtres li:hover {
  transform: scale(1.02);
}
.filtres li i.fas {
  margin-right: 1rem;
  font-size: 20px;
}

.loader {
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 100vh;
  inset: 0;
  z-index: 2;
  opacity: 0.9;
  animation: loader 5s;
  animation-fill-mode: forwards;
  transform-origin: top;
}
.loader::after {
  content: "";
  margin-inline: auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-right: 5px solid transparent;
  border-top: 5px solid #9356DC;
  animation: spin 900ms ease-in-out;
  animation-iteration-count: 4;
}

header {
  font-family: "Shrikhand", "cursive";
  text-align: center;
  position: relative;
}

.paris_belleville {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #f3f3f3;
  padding: 0.5rem;
  box-shadow: 2px 1px 8px -3px black;
}
.paris_belleville i {
  font-size: 25px;
  margin-right: 25px;
}

.acceuil {
  text-align: center;
}
.acceuil h2 {
  margin-top: 2rem;
  font-size: 30px;
}
.acceuil p {
  font-size: 20px;
}
.acceuil .btn {
  cursor: pointer;
  margin-top: 20px;
  color: #fff;
  font-weight: 300;
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 2px 1px 8px -3px black;
  margin-left: 140px;
  margin-right: 140px;
  font-size: 17px;
  font-weight: 400;
}
.acceuil .btn:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

footer {
  background-color: #353535;
  box-sizing: border-box;
  padding: 15px;
}
footer h2 {
  font-family: "shrikhand", "sans-serif";
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
footer p {
  color: #fff;
  margin: 5px;
}
footer p i {
  margin-right: 10px;
}

@keyframes loader {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes btnrps {
  from {
    transform: rotate(-270deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes transpage {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(1);
    opacity: 1;
  }
}
/*---images_headers_pages_restaurants---*/
img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  margin-top: -10px;
}

/*fleche_return_page*/
#fl_return header:hover::before {
  transform: scale(1.02);
}
#fl_return header::before {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f060";
  font-weight: 900;
  left: 20px;
  top: 10px;
  font-size: 25px;
  transition: transform 300ms;
}

/*---fond_menus_page---*/
.m_fr {
  position: relative;
  background-color: #f6f6f6;
  margin-top: -60px;
  padding: 15px;
  border-radius: 30px 30px 0 0;
}
.m_fr .h2_menu {
  position: relative;
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 25px;
}
.m_fr .h2_menu::before {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  right: 20px;
  top: 5px;
  font-size: 25px;
  background-clip: text;
  -webkit-background-clip: text;
  color: inherit;
  opacity: 1;
  font-weight: 400;
  transition: all 200ms ease-in-out;
}

.h2_page {
  box-sizing: border-box;
  padding: 20px 0 0 10px;
}

.h3_epd {
  text-transform: uppercase;
  font-weight: 400;
}
.h3_epd::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  margin-top: 5px;
  background-color: #99E2D0;
}

/*---box_repas_restaurants---*/
.box_category {
  height: 70px;
  box-shadow: 2px 1px 8px -3px black;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 20px;
  animation: transpage 1s;
  animation-fill-mode: both;
  /*---texte_menus_box_repas---*/
  /*---bouton_footer_commander---*/
}
.box_category .box_entrees {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.box_category:nth-child(1) {
  animation-delay: 100ms;
}
.box_category:nth-child(2) {
  animation-delay: 200ms;
}
.box_category:nth-child(3) {
  animation-delay: 300ms;
}
.box_category .box_description {
  line-height: 30%;
  margin: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.box_category h4 p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.box_category .box_prix {
  margin-left: auto;
  font-weight: bold;
  box-sizing: border-box;
  padding: 25px 25px 0 0;
}
.box_category .box_check {
  display: flex;
  justify-content: center;
  background-color: #99E2D0;
  border-radius: 0 10px 10px 0;
  flex-shrink: 0;
  width: 70px;
  margin-right: -70px;
  transition: margin-right 800ms;
}
.box_category .fas {
  background-color: #fff;
  color: #99E2D0;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.box_category .fas:hover .box_check {
  margin-right: 0;
}
.box_category .fas:hover i {
  animation: btnrps 0.5s ease-in-out;
}
.box_category .btn_order {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px 0 50px;
}
.box_category .btn_order .order {
  width: 150px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 20px;
  color: #fff;
  font-weight: 300;
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 2px 1px 8px -3px black;
}
.box_category .btn_order .order:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

@keyframes loader {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes btnrps {
  from {
    transform: rotate(-270deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes transpage {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(1);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
