@import "../utils/colors.scss";
@import "../utils/variables.scss";
@import "../utils/mixin.scss";


.container_menus {
     background-color: #f6f6f6;
     margin-bottom: 70px;

   h2 {
     box-sizing: border-box;
     padding: 50px 0 0 20px;
    }
  
.menus {
     display: grid;
     gap: 1.5rem;
     padding: 0 15px; 
     background-color: $white;

  .repas {
     height: 330px;
     border-radius: 20px;
     @include shadow_acceuil;
    }

/*---logo_nouveau---*/    
 
.logo_news {
     position: relative;
    }

  .logo_news::before {
     content: "Nouveau";
     position: absolute;
     height: 30px;
     width: 5rem;
     background-color: $color_tertiaire;
     color: darken($color: $color_tertiaire, $amount: 40);
     display: grid;
     place-items: center;
     right: 15px;
     top: 15px;
     font-size: 16px;
    }

/*---image_box_repas---*/    

@for $i from 1 through 4 {
   .img-#{$i} {
     background-image: url(../../pictures/menu-#{$i}.jpg);
     height: 250px;
     border-radius: 20px 20px 0px 0px;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
    }
   }

/*---texte_repas---*/   

&.txt_rps {
     position: relative;
     padding: 0 10px;
     }

     &::before {     
      @include coeur;
     
     &::after {     
      @include coeur;
      @include gradient;
     } 
   }
 
   h3 {
    margin:20px 0px -10px 0px;
    font-weight: bold; 
     }

   
 }
} 
  

 





