@import "../utils/box-shadow.scss";

.container_menus {
    background-color: #f6f6f6;

.box_menus{
    display: grid;
    gap: 1.5rem;
    box-sizing: border-box;
    padding: 0 15px;

.box_m_acceuil{
    border: solid 1px black;
    height: 200px;
    @include shadow;
    &bo_image{
        background-image: url(../restaurants/jay-wennington.jpg.jpg);
    }
      
     }
   }
 }