@import "../utils/mixin.scss";
@import "../utils/colors.scss";
@import "../utils/animation.scss";

.loader {
  position: fixed;
  z-index: 1;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation:anim_load 3s forwards;
  transform-origin: center;
 
 .lettre {
 color: $color_primaire;
 font-size: 50px;
 letter-spacing: 10px;
 margin-bottom: 150px;
 animation: flash 1.2s linear infinite;
 }
 
 .lettre:nth-child(1) {
 animation-delay: 0.1s;
 }
 .lettre:nth-child(2) {
 animation-delay: 0.2s;
 }
 .lettre:nth-child(3) {
 animation-delay: 0.3s;
 }
 .lettre:nth-child(4) {
 animation-delay: 0.4s;
 }
 .lettre:nth-child(5) {
 animation-delay: 0.5s;
 }
 .lettre:nth-child(6) {
 animation-delay: 0.6s;
 }
 .lettre:nth-child(7) {
 animation-delay: 0.7s;
 }
 .lettre:nth-child(8) {
 animation-delay: 0.8s;
 }
 .lettre:nth-child(9) {
 animation-delay: 0.9s;
 }
 .lettre:nth-child(10) {
 animation-delay: 0.10s;
 
  }
 }

/*---images_headers_pages_restaurants---*/

img {
   width: 100%;
   height: 50vh;
   object-fit: cover;
   margin-top: -10px;
}

/*fleche_return_page*/

#fl_return {
 header { 
  &:hover::before {
    @include zoom;
     }
  &::before {
   @include icon_awesome ($font-weight:400);
   content: "\f060";
   font-weight: 900;
   left: 20px;
   top: 10px;
   font-size: 25px;
   transition: transform 300ms;
  }
 }
}



/*---fond_menus_page---*/

.m_fr {
   position: relative;
   background-color: $lightgrey;
   margin-top: -60px;
   padding: 15px;
   border-radius: 30px 30px 0 0;
 .h2_menu {
   position: relative;
   font-family: "Shrikhand", cursive; 
   font-weight: 500;
   font-size: 25px;
 &::before {
   @include coeur;
   @include gradient;
 }

 &::after{
  @include coeur ($opacity:0, $color:transparent, $font-weight:900);
  @include gradient;
 }

 &:hover::after{
  @include gradient_animation;
 }
 }  

.h2_page{
   box-sizing: border-box;
   padding: 20px 0 0 10px;
}

.h3_epd {
   text-transform: uppercase;
   font-weight: 400;
 @media all and (min-width: 1000px) {   
   width: 33.33%; 
   padding: 20px;
   box-sizing: border-box;
  }
}

h3::after {
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    margin-top: 5px;
    background-color: $color_tertiaire;
 }

/*---box_repas_restaurants---*/

.menus_plats{
  @media all and (min-width: 1000px) { 
    display: flex;   
  }
}

.box_category {
   height: 70px;
   @include shadow_acceuil ;
   border-radius: 10px;
   background-color: $white;
   margin-top: 20px;
   animation: transpage 1s;
   animation-fill-mode: both;
   overflow: hidden;
   white-space: nowrap;

.box_entrees, .box_plats, .box_desserts {
   display: flex;
}
  
@for $i from 1 through 3 {
   &:nth-child(#{$i}) {
   animation-delay: 100ms * $i;
  }
 }   

 .box_description{
   margin: 0 10px;
   overflow: hidden;
}

/*---texte_menus_box_repas---*/
  p {
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

  h4 {
    margin: 7px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


 .box_prix {
   margin-left: auto;
   font-weight: bold;
   box-sizing: border-box;
   padding: 40px 20px 0 0;   
}

 .box_check {
   display: flex;
   justify-content: center;
   background-color: $color_tertiaire;
   border-radius: 0 10px 10px 0; 
   flex-shrink: 0;
   width: 70px;
   margin-right: -70px; 
   transition: margin-right 800ms;
   height: 70px;
}

 .fas {
   background-color: $white;
   color: $color_tertiaire;
   border-radius: 50%;
   width: 25px;
   height: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 25px;
 }
  &:hover {
   .box_check {
   margin-right: 0;
  
 i {
   animation: btnrps 0.5s ease-in-out; 
    }
   }
  }
 }
}

/*---bouton_footer_commander---*/

.btn_order {
   display: flex;
   justify-content: center;
   box-sizing: border-box;
   padding: 20px 0 50px;
 .order {
   width: 150px;
   display: flex;
   justify-content: center;
   @include dsgn_btn;
}
}