@mixin shadow_acceuil {
    box-shadow:  2px 1px 8px -3px black;
}

@mixin gradient {
    background-image: linear-gradient(to top, ($color_primaire),
    ($color_secondaire));   
}

@mixin zoom {
    transform: scale(1.02);
}